<% @title = "Showing person" %>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 form-label">Family name</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.family_name %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Given names</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.given_names %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Known as</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.known_as %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Address line</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.address_line %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Address line 2</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.address_line_2 %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Town</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.town %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">State</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.state %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Postcode</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.postcode %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Sex</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.sex %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Dob</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.dob %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Ihi</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.ihi %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Dva</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.dva %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Phone</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.phone %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Created by</label>
    <div class="col-md-10 control-label uneditable-input">
      <span>
        <%= @person.created_by %>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Conditions</label>
    <div class="col-md-10 control-label uneditable-input">
      <span id='conditions'>
        <ul>
          <% for  @condition in  @person.conditions %>
            <li><%= @condition.name%></li>
          <% end %>
        </ul>

     
      </span>
    </div>
  </div>
  
   <%= render 'condition' %>
   
  <div class="form-actions col-md-offset-2">
    <%= link_to icon_tag("pencil") + ' Edit', edit_person_path(@person), class: 'btn btn-primary' %>
    <%= link_to 'Back', people_path, class: 'btn' %>
  </div>

 
  <%= editable @person, :family_name %>
</div>