<% @title = @person.full_name_known_as %>

<div class="form-horizontal">
 
  <div class="form-group">
    <label class="col-md-2 form-label">Date of Birth</label>

      <div class="col-md-3">
        <%= @person.dob.strftime("%d/%m/%y")%>
      </div>
        <label class="col-md-2 form-label">Sex</label>
      <div class="col-md-5">
        <%= @person.gender%>
      </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 form-label">Address</label>
    <div class="col-md-5">
        <%= @person.address%>
    </div>
    <div class="col-md-5">
    <%= link_to icon_tag("pencil") + ' Edit', edit_person_path(@person), class: 'btn btn-primary' %>
    </div>
  </div>
  <hr />

  <div class="form-group">
    <label class="col-md-2 form-label">Conditions</label>
    <div class="col-md-10">
      <span id='conditions'>
        <ul>
          <% for  @condition in  @person.conditions %>
            <li><%= @condition.name%></li>
          <% end %>
        </ul>

     
      </span>
    </div>
  </div>
  
   <%= render 'condition' %>
    <div class="form-group"></div>

  <div class="form-actions col-md-offset-2">

    <%= link_to 'Back', people_path, class: 'btn' %>
  </div>

 <!--<%= editable @person, :family_name %>  -->
</div>